* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    justify-content: center;
}

button {
    border: 2px solid white;
    cursor: pointer;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
}

.slow {
    transition: 1s;
}

.slow:hover,
.slow:focus {
    color: black;
    background-color: white;
}

.bigger {
    transition: 1s;
}

.bigger:hover,
.bigger:focus {
    transform: scale(1.2);
    color: black;
    background-color: white;
}

.run-away {
    transition: 1s;
}

.run-away:hover,
.run-away:focus {
    transform: translateX(250px);
    color: black;
    background-color: white;
}